html, body {
  margin: 0;
  background-color: #E3F2FD;
  color: #2196F3;
  font-family: 'Arial'
}

.header {
  background-color: #E3F2FD;
  padding: 15px 15px 15px 15px;
}

.header-title {
  font-size: 32px;
  padding-left: 20px;
}

.menu {
  margin: 0;
  background-color: #2196F3;
  color: #E3F2FD;
  position: fixed;
  width: 240px;
  height:100%;
  top: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-close {
  left: -240px;
}

.menu-open {
  left: 0px;
}

.menu-header {
  padding: 15px 15px 15px 20px;
}

.menu-header-icon {
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  height: 50px;
  padding: 25px 10px 10px 20px;
}

.menu-list li:hover {
  background-color: #42A5F5;
}

.menu-list li a {
  text-decoration: none;
  color: #E3F2FD;
  font-size: 24px;
}

