<nav {{bind-attr class=":menu isOpen:menu-open:menu-close"}}>
	<button {{action "toggleMenu"}} class="pull-left">Hide menu</button>
</nav>


{{outlet}}

<button {{action "toggleMenu"}} class="pull-left">Show menu</button>